@font-face {
    font-family: 'Fusion-Pixel-12-proportional-zh_cn';
    src: url('/fonts/fusion-pixel-10px-proportional-zh_hans.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root {
    --vp-font-family-base: 'Minecraft AE Pixel', -apple-system, Roboto, Oxygen, Ubuntu, Helvetica, Arial, sans-serif;
    --vp-font-family-mono: 'Minecraft AE Pixel', monospace;
}
body {
    font-family: Fusion-Pixel-12-proportional-zh_cn,sans-serif;
  }