/* var.css */
:root {
    /* 标题 */
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: linear-gradient( 135deg, #3e680a 10%, #D939CD 100%);
    
    /* 图标背景 */
    --vp-home-hero-image-background-image: linear-gradient( 135deg, #98c76d 10%, #45b6ad 100%);
    --vp-home-hero-image-filter: blur(150px);
    --vp-font-family-base: "Minecraft AE"
    --vp-font-family-mono: "Minecraft AE"
  }
