

:root {
    // 首页标题
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: linear-gradient( 135deg, #3e680a 10%, #D939CD 100%);
    // 首页图标背景 
    --vp-home-hero-image-background-image: linear-gradient( 135deg, #98c76d 10%, #45b6ad 100%);
    --vp-home-hero-image-filter: blur(100px);
    // 首页brand按钮
    --vp-button-brand-border: #bae7ff;
    --vp-button-brand-text: #f0f9ff;
    --vp-button-brand-bg: #538ce9;
    --vp-button-brand-hover-border: #bae7ff;
    --vp-button-brand-hover-text: #fff;
    --vp-button-brand-hover-bg: #096dd9;
    --vp-button-brand-active-border: #f0f9ff;


    // 代码
    --vp-c-text-code:var(--vp-c-brand-dark);
    //标题h1颜色
    --vp-c-brand:  #538ce9;
    --vp-c-brand-light:  #77a3ea;
    --vp-c-brand-lighter:  #ebf3ff;
    --vp-c-brand-dark:  #096dd9;
    --vp-c-brand-darker:  #003a8c;
}
.content {
    font-size: 15px !important;
}
.dark {
    // 代码
    --vp-c-text-code:var(--vp-c-brand-lighter);
    .VPNavBar {
        background-color: rgba($color: #000, $alpha: 0.9);
    }
    .VPNavBar.has-sidebar {
        background-color:#000;
    }
    .VPTeamPageTitle .title, .VPTeamPageTitle .lead{
        color: #aaa;
    }
}

//首页第二行字的颜色
.VPHome .VPHero .container .main .tagline {
    background: linear-gradient(to right, #17ea68, #ea60c8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    max-width: 100%;
}
.VPHome .VPFeatures {
    padding: 10px;
    margin: 0 6%;
    margin-bottom: 3%;
    background: linear-gradient(to right, rgb(21 224 229 / 22%), rgb(83 140 233 / 36%))  !important; 
    border-radius: 2px;
}
.VPHome .VPButton {
    border-radius: 0px!important;
    border: 2px solid var(--vp-c-brand-light)!important;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/4gHYSUNDX1BST0ZJTEUAAQEAAAHIAAAAAAQwAABtbnRyUkdCIFhZWiAH4AABAAEAAAAAAABhY3NwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAA9tYAAQAAAADTLQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAlkZXNjAAAA8AAAACRyWFlaAAABFAAAABRnWFlaAAABKAAAABRiWFlaAAABPAAAABR3dHB0AAABUAAAABRyVFJDAAABZAAAAChnVFJDAAABZAAAAChiVFJDAAABZAAAAChjcHJ0AAABjAAAADxtbHVjAAAAAAAAAAEAAAAMZW5VUwAAAAgAAAAcAHMAUgBHAEJYWVogAAAAAAAAb6IAADj1AAADkFhZWiAAAAAAAABimQAAt4UAABjaWFlaIAAAAAAAACSgAAAPhAAAts9YWVogAAAAAAAA9tYAAQAAAADTLXBhcmEAAAAAAAQAAAACZmYAAPKnAAANWQAAE9AAAApbAAAAAAAAAABtbHVjAAAAAAAAAAEAAAAMZW5VUwAAACAAAAAcAEcAbwBvAGcAbABlACAASQBuAGMALgAgADIAMAAxADb/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0aHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCAAMAMMDASIAAhEBAxEB/8QAGAABAQEBAQAAAAAAAAAAAAAAAAECAwX/xAAkEAACAgEEAQQDAAAAAAAAAAAAAREhMQISQVFhMnGBobHB8P/EABQBAQAAAAAAAAAAAAAAAAAAAAD/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIRAxEAPwDzuw/6BLmOCYUywD7LdV9BXpsJzXkBHMNe4WmcfQeH4InIFadXMfAahR+ybnElniFgAn2VtSml8EbCbWADU3Nk5jAWpw35GlzuT4AqcTOfYJ1V/Ivtk1OGsAV9P8CK7Qiw6rgA5wHlQZ3PfBp+kBcoXuxfuFehvmSQlPMdgVJrJOBM8ITKAqbdyLhOivSljwc9OptN+YA05bwDG99IAf/Z');
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    box-shadow: inset 2px 2px rgba(255, 255, 255, 0.5),
    inset -2px -3px rgba(0, 0, 0, 0.25);
    border: 3px solid #000;
}
.DocSearch-Button {
    border-radius: 2px;
}
.VPFeatures .container {
    max-width: 100%;
}

.vp-doc.container {
  max-width: 100%!important;
}

.box .VPImage {
    margin: auto;
}
.VPHome .VPFeatures .item .VPFeature .title {
    margin: auto;
}
.VPHome .VPFeatures .item .VPFeature .details {
    color: #3be7ae;
    font-size: 15px;
    line-height: 1.5rem;
}
.VPMenu {
    border-radius: 3px !important;
}
// 美化滚动条
::-webkit-scrollbar {
    width: 7px;
    height: 2px;
}
::-webkit-scrollbar-track {
    width: 6px;
    background: rgba(23, 234, 217, 0.2);
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(96, 120, 234, 0.5);
    background-clip: padding-box;
    min-height: 28px;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    transition: background-color .3s;
    cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(96, 120, 234, 0.7);
}
// 右侧边栏激活项
.outline-link.active {
    color: var(--vp-c-brand) !important; 
}

.vp-doc p {
    margin: 0px;
}

.vp-doc table{
    border: none;
    width:100%;
    box-sizing: border-box;
    border-spacing:0;
    thead{
        border: none;
        border-spacing: 0;
        width: 100%;
        display: block;
        tr{
            flex-wrap: wrap;
            display: flex;
            th{
                padding:14px 12px;
                box-sizing: border-box;
                text-align: left;
                line-height: 20px;
                color: #646468;
                font-weight: 550;
                font-size:14px;
                border:1px solid #ebe6e6;
                border-right:0;
                background-color:#fafafa ;
            }
            th:last-child{
                border-right:1px solid #ebe6e6;
            }
            th:first-child{
                border-left:1px solid #ebe6e6;
            }
        }
        tr>th{
            flex: 1;
        }
    }
    tbody{
        border-spacing: 0;
        display: block;
        width: 100%;
        border: none;
        tr>td{
            flex: 1;
        }
        tr{
            flex-wrap: wrap;
            display: flex;
            border-bottom: 1px solid #f0f0f0;
            td{
                padding:13.5px 12px;
                box-sizing: border-box;
                text-align: left;
                line-height: 20px;
                color: #505050;
                font-weight: 500;
                font-size:14px;
                border:1px solid #f0f0f0;
                border-right:0;
                border-top:0;
            }
            td:first-child{
                border-left:1px solid #f0f0f0;
            }
            td:last-child{
                border-right:1px solid #f0f0f0;
            }
            &:hover{
                background:rgba(240,240,240,.2)
            }
        }
    }
}
.VPSidebarItem.level-0 .text {
    font-size: 15px;
}

:root {
    --vp-font-family-base: 'Fusion-Pixel-12-proportional-zh_cn', -apple-system, Roboto, Oxygen, Ubuntu, Helvetica, Arial, sans-serif;
    --vp-font-family-mono: 'Fusion-Pixel-12-proportional-zh_cn', monospace;
}
body {
    font-family: Fusion-Pixel-12-proportional-zh_cn,sans-serif;
}
