:root {
    // 首页标题
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: linear-gradient( 135deg, #3e680a 10%, #D939CD 100%);
    // 首页图标背景 
    --vp-home-hero-image-background-image: linear-gradient( 135deg, #98c76d 10%, #45b6ad 100%);
    --vp-home-hero-image-filter: blur(100px);
    // 首页brand按钮
    --vp-button-brand-border: #bae7ff;
    --vp-button-brand-text: #f0f9ff;
    --vp-button-brand-bg: #538ce9;
    --vp-button-brand-hover-border: #bae7ff;
    --vp-button-brand-hover-text: #fff;
    --vp-button-brand-hover-bg: #096dd9;
    --vp-button-brand-active-border: #f0f9ff;


    // 代码
    --vp-c-text-code:var(--vp-c-brand-dark);
    //页面背景色
    --vt-bg-doc: rgba(var(--vt-c-bg-rgb), 1) !important;
    //标题h1颜色
    // 重写主题色
    //  主色主题颜色：导航
    --vp-c-brand:  #538ce9;
    --vp-c-brand-light:  #77a3ea;
    --vp-c-brand-lighter:  #ebf3ff;
    --vp-c-brand-dark:  #096dd9;
    --vp-c-brand-darker:  #003a8c;
  // 副色 可以改首页logo下字体的发光色
  --vp-c-second: #55ebde;
  --vp-c-second-light: #29e0d1;
  --vp-c-second-lighter: #29e0d1;
  --vp-c-second-dark: #1a998e;
  --vp-c-second-darker: #1c6e68; 
}
.content {
    font-size: 15px !important;
}
.dark {
    // 代码
    --vp-c-text-code:var(--vp-c-brand-lighter);
    .VPNavBar {
        background-color: rgba($color: #000, $alpha: 0.9);
    }
    .VPNavBar.has-sidebar {
        background-color:#000;
    }
    .VPTeamPageTitle .title, .VPTeamPageTitle .lead{
        color: #aaa;
    }
}
// 导航栏
.VPNavBar {
    background-color: rgba($color: #ebf7ff, $alpha: 0.8);
}
.VPNavBar.has-sidebar {
    background-color:#fff;
    .curtain ::before {
        background: linear-gradient(rgba($color: var(--vp-c-bg), $alpha: 0.5), transparent 70%);
    }
}

//首页第二行字的颜色
.VPHome .VPHero .container .main .tagline {
    background: linear-gradient(to right, #17ea68, #ea60c8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    max-width: 100%;
}
.VPHome .VPFeatures {
    padding: 10px;
    margin: 0 6%;
    margin-bottom: 3%;
    background: linear-gradient(to right, rgb(21 224 229 / 22%), rgb(83 140 233 / 36%))  !important; 
    border-radius: 2px;
}
.VPHome .VPButton {
    border-radius: 0px!important;
    border: 2px solid var(--vp-c-brand-light)!important;
}
.DocSearch-Button {
    border-radius: 2px;
}
.VPFeatures .container {
    max-width: 100%;
}
.box .VPImage {
    margin: auto;
}
.VPHome .VPFeatures .item .VPFeature .title {
    margin: auto;
}
.VPHome .VPFeatures .item .VPFeature .details {
    color: #3be7ae;
    font-size: 15px;
    line-height: 1.5rem;
}
.VPMenu {
    border-radius: 3px !important;
}
// 美化滚动条
::-webkit-scrollbar {
    width: 7px;
    height: 2px;
}
::-webkit-scrollbar-track {
    width: 6px;
    background: rgba(23, 234, 217, 0.2);
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(96, 120, 234, 0.5);
    background-clip: padding-box;
    min-height: 28px;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    transition: background-color .3s;
    cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(96, 120, 234, 0.7);
}
// 右侧边栏激活项
.outline-link.active {
    color: var(--vp-c-brand) !important; 
}

.vp-doc table{
    border: none;
    width:100%;
    box-sizing: border-box;
    border-spacing:0;
    thead{
        border: none;
        border-spacing: 0;
        width: 100%;
        display: block;
        tr{
            flex-wrap: wrap;
            display: flex;
            th{
                padding:14px 12px;
                box-sizing: border-box;
                text-align: left;
                line-height: 20px;
                color: #646468;
                font-weight: 550;
                font-size:14px;
                border:1px solid #ebe6e6;
                border-right:0;
                background-color:#fafafa ;
            }
            th:last-child{
                border-right:1px solid #ebe6e6;
            }
            th:first-child{
                border-left:1px solid #ebe6e6;
            }
        }
        tr>th{
            flex: 1;
        }
    }
    tbody{
        border-spacing: 0;
        display: block;
        width: 100%;
        border: none;
        tr>td{
            flex: 1;
        }
        tr{
            flex-wrap: wrap;
            display: flex;
            border-bottom: 1px solid #f0f0f0;
            td{
                padding:13.5px 12px;
                box-sizing: border-box;
                text-align: left;
                line-height: 20px;
                color: #505050;
                font-weight: 500;
                font-size:14px;
                border:1px solid #f0f0f0;
                border-right:0;
                border-top:0;
            }
            td:first-child{
                border-left:1px solid #f0f0f0;
            }
            td:last-child{
                border-right:1px solid #f0f0f0;
            }
            &:hover{
                background:rgba(240,240,240,.2)
            }
        }
    }
}
.VPSidebarItem.level-0 .text {
    font-size: 15px;
}
@font-face {
    font-family: 'Fusion-Pixel-12-proportional-zh_cn';
    src: url('/fonts/fusion-pixel-10px-proportional-zh_hans.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root {
    --vp-font-family-base: 'Fusion-Pixel-12-proportional-zh_cn', -apple-system, Roboto, Oxygen, Ubuntu, Helvetica, Arial, sans-serif;
    --vp-font-family-mono: 'Fusion-Pixel-12-proportional-zh_cn', monospace;
}
body {
    font-family: Fusion-Pixel-12-proportional-zh_cn,sans-serif;
}
